* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
#preloader{
	position:fixed;
	width: 100%;
	height: 100vh;
	background: #fff;
	color: #262626;
	opacity:1;
	z-index: 2;
}
#preloader .jumping-ball{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
}
#preloader .jumping-ball li{
	list-style: none;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #262626;
	margin: 0 10px;
	animation: jumping_ball .6s linear infinite;
}
#preloader .jumping-ball li:nth-child(1){
	animation-delay: 0.1s;
	background-color: violet;
}
#preloader .jumping-ball li:nth-child(2){
	animation-delay: .2s;
	background-color: indigo;
}
#preloader .jumping-ball li:nth-child(3){
	animation-delay: .4s;
	background-color: blue;
}
#preloader .jumping-ball li:nth-child(4){
	animation-delay: .5s;
	background-color: green;
}
#preloader .jumping-ball li:nth-child(5){
	animation-delay: .6s;
	background-color: yellow;
}
#preloader .jumping-ball li:nth-child(6){
	animation-delay: .68s;
	background-color: orange;
}
#preloader .jumping-ball li:nth-child(7){
	animation-delay: .8s;
	background-color: red;
}
@keyframes jumping_ball{
	0%{
		transform: translateY(0);
	}
	35%
	{
		transform: translateY(-50px);
	}
	60%
	{
		transform: translateY(-60px);
	}
	100%
	{
		transform: translateY(0);
	}
}
#preloader .jumping-letter{
	position: absolute;
	top: 48.5%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	border:1px solid #262626;
	border-bottom: 0px;
	font-size: 20px;
	font-weight: bold;
}
#preloader .jumping-letter li{
	list-style: none;
	background: #fff;
	margin: 0 10px;
	animation: jumping_letter .6s linear infinite;
}
#preloader .jumping-letter li:nth-child(1){
	animation-delay: 0s;
	color: violet;
}
#preloader .jumping-letter li:nth-child(2){
	animation-delay: .2s;
	color: indigo;
}
#preloader .jumping-letter li:nth-child(3){
	animation-delay: .4s;
	color: blue;
}
#preloader .jumping-letter li:nth-child(4){
	animation-delay: .5s;
	color: green;
}
#preloader .jumping-letter li:nth-child(5){
	animation-delay: .6s;
	color: yellow;
}
#preloader .jumping-letter li:nth-child(6){
	animation-delay: .68s;
	color: orange;
}
#preloader .jumping-letter li:nth-child(7){
	animation-delay: .8s;
	color: red;
}
@keyframes jumping_letter{
	0%{
		transform: translateY(0);
	}
	35%
	{
		transform: translateY(10px);
	}
	60%
	{
		transform: translateY(15px);
	}
	100%
	{
		transform: translateY(0);
	}
}
#body{
	background: rgb(89,97,105);
	background: linear-gradient(90deg, rgba(89,97,105,1) 0%, rgba(23,47,72,1) 28%, rgba(43,64,87,1) 50%, rgba(23,47,72,1) 72%, rgba(115,123,131,1) 100%);
	color:#fff;
	font-family: 'Barlow', sans-serif;
}
header{
	position: fixed;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background: none;/*Nav Bar background color*/
	box-sizing: border-box;
	z-index: 1;
	transition: 1s;
}
header.navcolor{
	/*Nav Bar background color*/ 
	background: rgb(89,97,105);
	background: linear-gradient(90deg, rgba(89,97,105,1) 0%, rgba(23,47,72,1) 28%, rgba(43,64,87,1) 50%, rgba(23,47,72,1) 72%, rgba(115,123,131,1) 100%);
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	border-bottom: 3px solid #fff;/*Nav Bar bottom border color*/
}
.logo{
	color:#fff;
	font-size: 36px;
	line-height: 50px;
	padding-left:8%;
	text-align: center;
	box-sizing: border-box;
	float: left;
	font-weight: bold;
	text-decoration: none;
	opacity:0.9;
	transition: .5s;
}
.logo:hover{
	text-decoration: none;
	color:#cccccc;
	opacity:0.6;
}
.logo span{
	color:#79f291;
	font-size:30px;
}
.sidebar .nav-block{
	float: right;
	padding: 0;
	margin: 0;
	margin-right: 8%;
}
.sidebar .nav-block ul{
	margin: 0;
	padding: 0;
	display: flex;
}
.sidebar .nav-block ul .nav-block-item{
	margin: 0;
	list-style: none;
}
.sidebar .nav-block ul .nav-block-item a{
	display: block;
	padding:10px 20px;
	margin: 5px 0;
	font-size: 20px;
	text-decoration: none;
	color: #fff;
}
.sidebar .nav-social{
		display: none;
}
.sidebar .nav-block ul .nav-block-item:hover {
	background: #04529b;
	color: #fff;
	transition: .5s;
}
@media(max-width: 1200px){

}
@media(max-width: 1050px){
	header {
		/*Nav Bar background color*/
		background: rgb(89,97,105);
		background: linear-gradient(90deg, rgba(89,97,105,1) 0%, rgba(23,47,72,1) 28%, rgba(43,64,87,1) 50%, rgba(23,47,72,1) 72%, rgba(115,123,131,1) 100%);
		border-bottom: 2px solid #fff;/*Nav Bar bottom border color*/
		box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	}
	.logo{
		font-size: 26px;
		line-height: 40px;
	}
	.logo span{
		font-size: 22px;
	}
	.menu-toggle{
		display: block;
		width: 50px;
		height: 50px;
		margin-right: 5%;
		outline: none;
		background: none;
		border:none;
		float: right;
		cursor: pointer;
		text-align: center;
	}
	.menu-toggle span{
		display: block;
		position: absolute;
		top: 25%;
		margin: 10px 0;
		width: 25px;
		height: 3px;
		background: #fff;
		transition: .3s;
	}
	.menu-toggle span:before{
		content: '';
		position: absolute;
		top: -10px;
		left: 0;
		width: 30px;
		height: 3px;
		background: #fff;
		transition: .3s;
	}
	.menu-toggle span:after{
		content: '';
		position: absolute;
		top: 10px;
		left: 0;
		width: 35px;
		height: 3px;
		background: #fff;
		transition: .3s;
	}
	.menu-toggle:hover span,
	.menu-toggle:hover span:before{
		width:35px;
	}
	.menu-toggle.active span{
		background: transparent;
	}
	.menu-toggle.active span:before{
		top: 0;
		transform: rotate(45deg);
		box-shadow: 1px 2px 1px rgba(0,0,0,0.5);
	}
	.menu-toggle.active span:after{
		top: 0;
		transform: rotate(-45deg);
		box-shadow: 1px 1px 2px rgba(0,0,0,1);
	}
	.sidebar .nav-block{
		display: none;
	}
	.sidebar .nav-block.active {
		display: block;
		margin:0;
		width: 100%;
	}
	.sidebar .nav-social.active {
		display: inline-block;
	}
	.sidebar{
		position: fixed;
		margin: 52px auto;
		padding: 0px;
		top: 0;
		right:-350px;
		width: 280px;
		height: 100%;
		border-left:2px solid #fff;
		z-index: 1;
		background: rgb(89,97,105);
		background: linear-gradient(90deg, rgba(89,97,105,1) 0%, rgba(23,47,72,1) 28%, rgba(43,64,87,1) 50%, rgba(23,47,72,1) 72%, rgba(115,123,131,1) 100%);
		text-align: center;
		transition: .5s;
	}
	.sidebar.active{
		right: 0px;
	}
	.sidebar.active ul{
		margin: 0;
		padding: 0;
		text-align: center;
		display: block;
	}
	.sidebar.active ul .nav-block-item{
		list-style: none;
	}
	.sidebar.active ul .nav-block-item a{
		margin: 0;
		color: #fff;
		text-decoration: none;
		border-bottom: 1px solid rgba(230,230,230,0.1);
	}
}
@media(max-width: 320px){
	.sidebar{
		position: fixed;
		margin: 52px auto;
		padding: 0px;
		top: 0;
		right:-220px;
		width: 200px;
		height: 100%;
		border-left:2px solid #fff;
		z-index: 1;
		background: #172f48;
		text-align: center;
		transition: .5s;
	}
}
#my-bg{
	background-color: #172f48 !important;
}
footer{
	color:white;
	border-top: 3px solid white;
	line-height: 40px;
	text-align: center;
	background: rgb(89,97,105);
	background: linear-gradient(90deg, rgba(89,97,105,1) 0%, rgba(23,47,72,1) 28%, rgba(43,64,87,1) 50%, rgba(23,47,72,1) 72%, rgba(115,123,131,1) 100%);
}
.header{
	background: rgb(89,97,105);
	background: linear-gradient(90deg, rgba(89,97,105,1) 0%, rgba(23,47,72,1) 28%, rgba(43,64,87,1) 50%, rgba(23,47,72,1) 72%, rgba(115,123,131,1) 100%);
	background-size: cover;
	height: 100vh;
	width: 100%;
}
.cards{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	opacity: 1;
	
}
.cards img{
	border: 3px solid white;
	border-radius: 50%;
	box-shadow:3px 3px 3px 2px #262626;
}
.heads{
	text-align: center;
	margin-top: 5%;
	padding:0;
	color: #fff;
	text-shadow:2px 3px 3px #262626;
	font-weight: bold;
	z-index: 1;
	opacity: 1;
}
.scrolls{
	position: absolute;
	text-align: center;
	top: 100%;
	left: 90px;
	padding:0;
	color: #20c95e;
	font-weight: bold;
	font-size: 60px;
	overflow: hidden;
	opacity: 1;
	z-index: 1;
}
.scrolls .fa{
	margin: 0;
	padding: 0;
	animation:animate 1s linear infinite;
}
@keyframes animate{
	0%{
		transform: translateY(-50px);
		text-shadow: 0 50px 0 #20c95e;
	}
	20%{
		transform: translateY(0px);
	}
	40%{
		transform: translateY(0px);
	}
	60%{
		transform: translateY(0px);
	}
	100%{
		transform: translateY(100px);
		text-shadow: 0 70px 0 #20c95e;
	}
}
.card .bg-light{
	border-radius: 10px;
}
#about-me{
	text-align: center;
}
#my-hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
#heading-tag{
	padding: 10px 20px;
	color: white;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	text-align: center;
	background: rgb(89,97,105);
	background: linear-gradient(90deg, rgba(89,97,105,1) 0%, rgba(23,47,72,1) 28%, rgba(43,64,87,1) 50%, rgba(23,47,72,1) 72%, rgba(115,123,131,1) 100%);
}
#my-color{
	color: #20c95e;
}
.card-footer ul{
	text-align: center;
}
.card-footer li{
	display: inline;
}
.card-footer .fa{
	color: #fff;
}
.fa-facebook:hover{
	color: #3C5A99;
}
.fa-github:hover{
	color: #6e5494;
}
.fa-linkedin:hover{
	color: #0077b5;
}
.fa-google-plus:hover{
	color: #dd4b39;
}
.fa-quora:hover{
	color: #a82400;
}
.progress{
	padding: 0 20px;
}
.progress-bar{
	border-radius: 7px;
}
#card-set{
	padding:0;
	height: 400px;
	width:80%;
	border:none;
	outline: hidden;
	margin: 30px auto;
	display: inline-block;
	border-top: 2px solid rgba(50,50,50,0.2);
	overflow: hidden;
}
#card-set img{
	width:cover;
	height: 60%;
	transition: 0.4s;
}
#card-set img:hover{
	transform: scale(1.1);
}
#project-card{
	margin: 30px auto;
	border:none;
	outline: hidden;
}
#project-card hr{
	width:200px;
	border-width:2px;
	margin:0 auto;
	background-color: #20c95e;
	margin-top: -5px;
	margin-bottom: 10px;
}
.card-title{
		color: #fff;
}
.card-subtitle, .card-text{
	color: #172f48;
}
.popup{
	position: relative;
	width:300px;
	height: 200px;
	background-color: #172f48;
	margin: 0 auto;
	margin-top: -248px;
	border:1px solid none;
	border-radius: 10px;
	display: none;
}
.visibility-popup{
	display: visible;
}
.popup .popupclose{
	margin-left: 85%;
    margin-top: 3%;
    margin-right: 3%;
	padding: 0;
	width:30px;
	height:30px;
	font-weight: bold;
	border:2px solid white;
	border-radius: 50%;
	background-color: #172f48;
	text-align: center;
	cursor: pointer;
	transition: .5s;
}
.popup .popupclose:hover{
	transform: rotate(360deg);
	border:2px solid #20c95e;
	color: #20c95e;
}
.fa-pulse {
    float: right;
    margin-right: 40%;
}
#follow-id li{
	display: inline;
	transition: .3s;
}
.fa-facebook{
	color: #fff;/*#3C5A99;*/
}
.fa-github{
	color: #fff;/*#6e5494;*/
}
.fa-linkedin{
	color: #fff;/*#0077b5;*/
}
.fa-google-plus{
	color: #fff;/*#dd4b39;*/
}
.fa-quora{
	color: #fff;/*#a82400;*/
}
#follow-id li:hover .fa{
	color: #172f48;
}
#social-bg li{
	display: inline;
	transition: .3s;
}
#social-bg li:hover .fa{
	color:#fff;
}
.card {
    background:linear-gradient(90deg,rgba(255,255,255,0)0%,rgba(255,255,255,0.2)25%,rgba(255,255,255,0.2)75%,rgba(255,255,255,0)100%) !important;
    box-shadow: 0 0 25px rgba(0,0,0,255),inset 0 0 2px rgba(255,255,255,10);
    opacity:1;
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
}
.progress {
    background-color: transparent !important;
}
